!!!
%html
  %body
    .chat-side
      = render "layouts/user"
    .chat-main
      .chat-main__header
        .chat-main__header--group
          .chat-main__header--group-name
            = @group.name
          %a.chat-main__header--group-edit-btn{href:"/groups/#{@group.id}/edit"}
            %input{type: "submit",value: "Edit"}
        .chat-main__header-members
          MEMBER:
          %i
            matsu
      .chat-main__body
        .chat-main__body--messages-list
        - @messages.each do |message|
          %li.chat-main__message
            %p.chat-main__message-name
              matsu
            %p.chat-main__message-time
              = message.created_at
            %p.chat-main__message-body
              = message.message
      .chat-main__footer
        =form_for [@group,@message] do |f|
          .chat-main__footer-body
            = f.text_field :message, placeholder: "  type a message", id: "text"
            .chat-main__footer-body-sentbtn
              = f.submit "send", data: { disable_with: '更新中...' }
          .chat-main__footer-image
            = f.file_field :image
            %i.input.fa.fa-picture-o

